<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Flask Scrapper</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item active"><a class="nav-link" href="/pubg">Current Users</a></li>
            <li class="nav-item active"><a class="nav-link" href="/steamsales">Sales-90%</a></li>
        </ul>
    </div>
</nav>