{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron text-center">
    <h1>Welcome to {{name}}</h1>
    <p class="lead">Python Scraper with Flask.</p>
</div>


<div>
  <h3>---The most expensive item---</h3>
</div>
        <div class="item">
            <div class="card text-white bg-primary mb-3" style="width: 18rem;">
                <div class="view overlay">
                    <img class="card-img-top" src={{item.image_link}} alt="Card image cap">
                    <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h4 class="card-title">{{item.item_name}}</h4>
                    <br class="card-text">Game: {{item.game_title}} </br>Quantity: {{item.quantity}} </br>Price: {{item.price}}</p>
                </div>
            </div>
            <div style="padding-bottom: 30px;"></div>
        </div>

{% endblock %}