{% extends 'layout.html' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1> The best steam sales -90% </h1>
    </div>
    <div class="container" align="center" style="padding-bottom: 10px">
        <a href="/return-file/" target="_blank"><button type="button" class="btn btn-danger">Download CSV</button></a>
    </div>

    {% for item in items %}
        <div class="item">
            <div class="card" style="width: 18rem;">
                <div class="view overlay">
                    <img class="card-img-top" src="../static/treee.jpg" alt="Card image cap">
                    <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h4 class="card-title">{{item.get_game_title()}}</h4>
                    <p class="card-text">Price: {{item.get_price()}} </br>Rating: {{item.get_rating()}} </p>
                    <a href="{{item.get_link_steam()}}"  target="_blank" class="btn btn-primary">Check on Steam</a>
                </div>
            </div>
            <div style="padding-bottom: 30px;"></div>
        </div>
    {% endfor %}

{% endblock %}